{% extends 'base.html' %}
{% block body %}
    <div><img src="/static/img/{{ varietal.img_path }}">
    </div>

    <div class="row marketing">
    
        <h5>FLAVOR PROFILE: <em> {{ varietal.flavor_profile}} </em></h5>
        <h5>REGION(S): <em> {{ varietal.region}} </em></h5>
        _________________

        <h3>Pairing Guide:</h3>
        <h5>CHEESE | <em> {{ varietal.cheese_pairing}} </em></h5>
        <h5>FOOD | <em> {{ varietal.food_pairing}} </em></h5>
        <h5>FRUIT &amp DESSERT | <em> {{ varietal.fruit_pairing}} </em></h5>
        <h5>PAIRS WELL WITH | <em> {{ varietal.flavor_pairing}} </em></h5>
        _________________
    </div>

    <div id="recommend_container"> <h3>May we suggest... </h3>




        {% for wine_rec in api_request["Products"]["List"] %}    
       
        <div class="recommend">
            <a href="{{ wine_rec["Url"] }}"><img src="{{ wine_rec["Labels"][0]["Url"] }}" alt="{{ api_request["Products"]["List"][0]["Name"] }}"><br />{{ wine_rec["Name"] }}</a>
            <div>
                Rating: {{ wine_rec["Ratings"]["HighestScore"] }}
            </div>
            <div>
                Retail Price: ${{ "%.2f"%(wine_rec["PriceRetail"])}}
            </div>
        </div>

        {% endfor %}
</div>

<link rel="stylesheet" type="text/css" href="/static/css/elastislide.css">
<script type="text/javascript" src="/static/js/modernizr.custom.17475.js"></script>
<script type="text/javascript" src="/static/js/jquery.elastislide.js"></script>
<script type="text/javascript" src="/static/js/jquerypp.custom.js"></script>
<script>     
    $( '#carousel' ).elastislide( {
                minItems : 2
    } );
</script>

{% endblock %}

