{% extends 'base.html' %}
{% block body %}

<!-- <h1> hello </h1> -->

{% for varietal in varietal_description %}

    <div> <img src="/static/img/{{ varietal.img_path }}"></div>
    <div><b>Typical flavor profile: </b> {{ varietal.flavor_profile}}</div>
    <div><b>Region(s): </b> {{ varietal.region}}</div>
    <div><b>A bit about the grape: </b> {{ varietal.description}}</div>
    <p>
    <div>How to pair:</div>
    <div><b>Cheese: </b> {{ varietal.cheese_pairing}}</div>
    <div><b>Food: </b> {{ varietal.food_pairing}}</div>
    <div><b>Fruit and dessert: </b> {{ varietal.fruit_pairing}}</div>
    <div><b>Goes well with: </b> {{ varietal.flavor_pairing}}</div>


{% endfor %}

{% endblock %}